<div class="container">
    <h1>Eat the Burger</h1>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead"><strong>Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    {{!-- add burger form --}}
    <h2>Add a Burger</h2>
    <form class="create-form">
        <div class="form-group">
            <label for="newburger">New Burger Name:</label>
            <input type="text" id="newburger" name="burger">
            <button type="submit button" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>